<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html ::head"> </head>
<body id="page-top">


<!-- Navigation -->
<nav class="navbar navbar-expand-xl navbar-dark fixed-top" id="mainNav">
    <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="#page-top">Let's Take A Trip ! </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">Menu<i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" th:href="@{/}">Strona główna</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Dodaj wycieczkę</div>
        </div>
    </div>
</header>

<!--formularz-->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto mb-3">

    <form th:action="@{/admin/addTripForm}" th:object="${trip}" method="post" class="col m8 s12 offset-m2">
        <br>
        <div class="row">
            <label>Wyjazd do: </label>
        </div>

        <div class="row">
            <div class="input-field col s6">
                    <select th:field="*{destination.Continent}" id="destinationContinent">
                        <option value="europa">Europa</option>
                        <option value="azja">Azja</option>
                        <option value="afryka">Afryka</option>
                        <option value="ameryka">Ameryka</option>
                    </select>
                <label for="destinationContinent">Kontynent</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{destination.Country}" id="destinationCountry" type="text"/>
                <label for="destinationCountry">Kraj </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{destination.City}" id="destinationCity" type="text"/>
                <label for="destinationCity">Miasto </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{destination.hotel}" id="destinationHotel" type="text"/>
                <label for="destinationHotel">Hotel </label>
            </div>
        </div>
        <div class="input-field col s6">
            <input th:field="*{departureTime}" id="departureTime" type="date">
            <label for="departureTime">Data wyjazdu </label>
        </div>
        <div class="input-field col s6">
            <input th:field="*{arrivalTime}" id="arrivalTime" type="date">
            <label for="arrivalTime">Data powrotu  </label>
        </div>
        <div class="input-field col s6">
            <select name="feedingType" th:field="*{feedingType}" id="feedingType" type="text">
                <option value="BB">BB</option>
                <option value="HB">HB</option>
                <option value="FB">FB</option>
                <option value="AI">AI</option>
            </select>
            <label for="feedingType">Rodzaj wyżywienia </label>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="${trip.placeForAdult}" id="placeForAdult" type="number"/>
                <label for="placeForAdult">Ilość miejsc dla dorosłych </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{placeForChildren}" id="placeForChildren" type="number"/>
                <label for="placeForChildren">Ilość miejsc dla dzieci </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{pricePerAdult}" id="pricePerAdult" type="number"/>
                <label for="pricePerAdult">Cena za dorosłego </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{pricePerChild}" id="pricePerChild" type="number"/>
                <label for="pricePerChild">Cena za dziecko </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{promotionalPrice}" id="promotionalPrice" type="number"/>
                <label for="promotionalPrice">Cena promocyjna </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{departure}" id="departure" type="number"/>
                <label for="departure">Wyjazd z</label>
            </div>
        </div>

        <div class="row s8">
            <button class="btn waves-effect waves-light" type="submit" name="save">Wyślij
                <i class="mdi-content-send right"></i>
            </button>
        </div>

    </form>


</div>
    </div></div>
<footer th:replace="fragments/footer.html ::footer"> </footer>

<div th:replace="fragments/jsLink.html ::script"> </div>

</body>
</html>