<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
</head>
<body>

<div th:fragment="header">
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">A może by tak rzucić wszystko i wyjechać w Bieszczady...</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Gdzie na wakacje?</a>
        </div>
    </div>
</header>
</div>

</body>
</html>