<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html ::head"> </head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="#page-top">Let's Take A Trip ! </a>-->
        <a class="navbar-brand text-warning" th:if="${auth == null}">Not logged in</a>
        <a class="navbar-brand text-success" th:if="${auth != null}">
<!--           th:text="${'użytkownik  ' + auth.getPrincipal().getName}">-->

            Login in</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" th:href="@{/}">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#search">Wyszukaj wyjazd</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <a class="btn btn-primary btn-xl text-uppercase">Podsumowanie</a>
        </div>
    </div>
</header>

<form th:action="@{'/buyTrip/' + ${trip.tripId}}" method="post" class="col m8 s12 offset-m2">
    <div class="input-field col s6">

        <ul class="list-inline">

            <li th:text="${ 'Kraj: ' + trip.destination.country}"></li>
            <li th:text="${ 'Miasto: ' + trip.destination.city}"></li>
            <li th:text="${ 'Hotel: ' + trip.destination.hotel}"></li>
            <li th:text="${ 'Data wyjazdu: ' + trip.getDepartureTime()}"></li>
            <li th:text="${ 'Data powrotu: ' + trip.getArrivalTime()}"></li>
            <br><br>

            <li th:text="${ 'Podsumowanie płatności:  ' + trip.getPricePerAdult()+ 'zł'}"></li>

        </ul>
        <div class="row s12">
            <button class="btn waves-effect waves-light" type="submit" name="save">Zatwierdz
                <i class="mdi-content-send right"></i>
            </button>
        </div>
    </div>

</form>
<footer th:replace="fragments/footer.html ::footer"> </footer>

<div th:replace="fragments/jsLink.html ::script"> </div>

</body>
</html>